################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.opensdf
*.opendb
*.suo
*.pdb
*.idb
*.obj
*.log
*.ilk
*.tlog
*.exe
